body {
    background-image: none;
    background-color: #FF9800;
}


.card {
    background-color: #212121;
    border: 1px solid #FF5722;
    border-radius: 5px;
}

.card-title {
    text-transform: uppercase;
    font-family: Amatic;
    letter-spacing: 10px;
    font-weight: 900 !important;
    font-size: 50px !important;
    line-height: 60px !important;
}


/* label focus color */
.input-field input + label {
    color: #bdbdbd !important;
    font-size: 18px;
}

.row .input-field input {
    border-bottom: 1px solid #757575 !important;
    box-shadow: 0 0px 0 0 #757575 !important
}

.input-field input:focus + label {
    color: #E64A19 !important;
    /*text-transform: uppercase;*/
    font-size: 20px;
    font-weight: 700;
}

.input-field label.active {
    color: #e64a19 !important;
    font-size: 20px;
}

.input-field .prefix.active {
    color: #e64a19 !important;
}

/* label underline focus color */
.row .input-field input:focus {
    color: #FFFFFF;
    border-bottom: 1px solid #E64A19 !important;
    box-shadow: 0 0px 0 0 #E64A19 !important
}

.row .input-field input {
    color: #FFFFFF;
}

.col.s12.m12.l12.xl12 > .btn {
    width: 100%;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: #212121;
}

/*[class*="col"], footer {*/
/*background-color: #004aee;*/
/*border: 2px solid black;*/
/*border-radius: 6px;*/
/*line-height: 40px;*/
/*text-align: center;*/
/*}*/