body {
    background-image: none;
    background-color: #FF9800;
}

.bouton .btn {
    width: 90%;
    margin-left: 5%;
}

.card {
    background-color: #212121;
    border: 1px solid #FF5722;
    border-radius: 5px;
}

h1.card-title {
    color: #212121;
    letter-spacing: 20px !important;
    font-family: 'Amatic';
    font-weight: 700 !important;
    font-size: 50px !important;
    line-height: 50px !important;
    word-wrap: break-word;
}

@media screen and (max-width: 1440px) {
    h1.card-title {
        font-size: 40px !important;
        line-height: 45px !important;
        word-wrap: break-word;
    }
}

.collection .collection-item {
    background-color: #FF5722;
}

ul.collection {
    border: 1px solid #FFC107;
    border-radius: 5px;
}

@media screen and (max-width: 930px) {
    .valign-wrapper h1 {
        font-size: 30px !important;
        line-height: 45px !important;
        margin-bottom: 0px;
    }
}

/*[class*="col"], footer {*/
/*background-color: #004aee;*/
/*border: 2px solid black;*/
/*border-radius: 6px;*/
/*line-height: 40px;*/
/*}*/