body {
    background-image: none;
    background-color: #FF9800;
}

.card {
    background-color: #212121;
    border: 1px solid #FF5722;
    border-radius: 5px;
}

.card-title {
    text-transform: uppercase;
    color: #FFFFFF;
    letter-spacing: 20px;
    font-family: 'Amatic';
    font-weight: 700;
}

li a.recette {
    text-decoration: none;
    color: #FF5722;
    text-transform: uppercase;
    font-size: 20px;
    font-family: Righteous;
    transition: font-size .2s; /* Animation */
}

li a.recette:hover {
    font-size: 30px;
}

.pagination li a {
    color: #FFFFFF;
}

.pagination li.active {
    width: 4%;
    height: auto;
    font-size: 18px !important;
    background-color: #FF5722 !important;
}

.prefix {
    color: #757575;
}

.input-field .prefix.active {
    color: #FFFFFF;
}

/* label focus color */
.input-field input + label {
    color: #757575 !important;
    font-size: 18px;
}

.row .input-field input {
    border-bottom: 1px solid #757575 !important;
    box-shadow: 0 0px 0 0 #757575 !important
}

.input-field input:focus + label {
    color: #FFFFFF !important;
    font-size: 20px;
    font-weight: 700;
}
/* label underline focus color */
.row .input-field input:focus {
    border-bottom: 1px solid #BDBDBD !important;
    box-shadow: 0 0px 0 0 #BDBDBD !important
}

input.search {
    font-size: 20px;
    color: #FFFFFF;
}

.recette-indisponible {
    color: #BDBDBD;
    font-weight: 700;
    font-family: Amatic;
    letter-spacing: 20px;
}
.para-recette-indisponible {
    font-size: 20px;
    font-family: Righteous;
}

@media only screen and (max-width: 600px) {
    .card-title h1 {
        font-size: 30px;
        line-height: 40px;
    }

    .pagination li.active {
        width: 15%;
        height: auto;
        font-size: 18px !important;
        background-color: #FF5722 !important;
    }
}

@media only screen and (min-width: 600px) and (max-width: 993px) {
    .pagination li.active {
        width: 7%;
        height: auto;
        font-size: 18px !important;
        background-color: #FF5722 !important;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .pagination li.active {
        width: 5%;
        height: auto;
        font-size: 18px !important;
        background-color: #FF5722 !important;
    }
}
