body {
    background-image: none;
    background-color: #FF9800;
}

.bouton .btn {
    width: 100%;
}

.card {
    background-color: #212121;
    border: 1px solid #FF5722;
    border-radius: 5px;
}

h1.card-title {
    color: #212121;
    letter-spacing: 20px !important;
    font-family: 'Amatic';
    font-weight: 700 !important;
    font-size: 50px !important;
}

.collection .collection-item {
    background-color: #FF5722;
    /*border: 1px solid #FF5722;*/
    /*border-radius: 5px;*/
}

ul.collection {
    border: 1px solid #FFC107;
    border-radius: 5px;
}

/*[class*="col"], footer {*/
    /*background-color: #004aee;*/
    /*border: 2px solid black;*/
    /*border-radius: 6px;*/
    /*line-height: 40px;*/
    /*text-align: center;*/
/*}*/