.card {
    background-color: #212121;
    border: 1px solid #FF5722;
    border-radius: 5px;
}

.card-title {
    text-transform: uppercase;
}

.col.l12 > .btn {
    width: 100%;
}


/* label focus color */
.input-field input + label {
    color: #757575 !important;
    font-size: 18px;
}

.row .input-field input {
    border-bottom: 1px solid #757575 !important;
    box-shadow: 0 1px 0 0 #757575 !important
}

.input-field input:focus + label {
    color: #FFFFFF !important;
    font-size: 20px;
    font-weight: 700;
}
/* label underline focus color */
.row .input-field input:focus {
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF !important;
    box-shadow: 0 1px 0 0 #FFFFFF !important
}

.row .input-field input {
    color: #FFFFFF;
}