body {
    background-image: url("../img/background2.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.bandeau {
    background-image: none !important;
}

.z-depth-3 {
    box-shadow: none !important;
}

.card {
    background-color: #212121;
    border: 1px solid #FF5722;
    border-radius: 5px;
}

.card-title {
    text-transform: uppercase;
}

.btn-request-content {
    width: 100%;
}



/* label focus color */
.input-field input + label {
    color: #bdbdbd !important;
    font-size: 18px;
}

.row .input-field input {
    border-bottom: 1px solid #757575 !important;
    box-shadow: 0 0px 0 0 #757575 !important
}

.input-field input:focus + label {
    color: #E64A19 !important;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}

.input-field label.active {
    color: #e64a19 !important;
    text-transform: uppercase;
    font-size: 20px;
}

/* label underline focus color */
.row .input-field input:focus {
    color: #FFFFFF;
    border-bottom: 1px solid #E64A19 !important;
    box-shadow: 0 0px 0 0 #E64A19 !important
}

.row .input-field input {
    color: #FFFFFF;
}