<div class="row mt-60">
    <div class="col l6 offset-l3">
        <div class="card">
            <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                <div class="card-content white-text">
                    <span class="card-title center-align">{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}</span>
                    <div class="input-field mt-40">
                        <input type="text" id="username" name="username" required="required" />
                        <label for="username">{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}</label>
                    </div>
                </div>
                <div class="card-action">
                    <div class="row">
                        <div class="col l12">
                            <button class="btn btn-large hoverable deep-orange" type="submit">
                                <i class="material-icons left">check</i>
                                {{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
